# Relational operator

In [1]:
# == equals to

print(1 == 2)
print(1 == 1)

False
True

In [2]:
# != not equals to

print(1 != 2)
print(1 != 1)

True
False

In [3]:
# < less then 

print(1 < 2)
print(1 < 1)

True
False

In [4]:
# > greater then

print(1 > 2)
print(1 > 1)

False
False

In [5]:
# <= less then equal to

print(1 <= 2)
print(1 <= 1)

True
True

In [6]:
# >= greater then equal to

print(1 >= 2)
print(1 >= 1)

False
True

# square root

In [7]:
import math
print(math.sqrt(4))

2.0

In [11]:
import math
print(math.sqrt(500))

22.360679774997898

# pythagores theoram

In [12]:
#c * c = a*a + b*b

import math
a = 3
b = 4
print(math.sqrt(a*a + b*b))

5.0

In [13]:
import math
a = 5
b = 5
print(math.sqrt(a*a + b*b))

7.0710678118654755

In [16]:
import math 
a = 6 
b = 6
print(math.sqrt(a*a + b*b))

8.48528137423857

In [1]:
import math
a = 5 
b = 5
print(math.sqrt(a*a + b*b))

7.0710678118654755

# Exponential

In [17]:
import math
print(math.exp(5))

148.4131591025766

In [18]:
import math
print(math.exp(1))

2.718281828459045

# Logarithm

In [19]:
import math
print(math.log(5))

1.6094379124341003

In [20]:
import math
print(math.log(6))

1.791759469228055

In [21]:
import math
print(math.log10(100))

2.0

# Regular expression

In [22]:
import re
s = 'steve paul jobs was born in san francisco calefornia, on february'
p = re.search('.*paul.*',s)
if p:
    print('found:-',p.group())
else:
    print('Not found:-')

found:- steve paul jobs was born in san francisco calefornia, on february

In [5]:
import re
s ='steve paul jobs was born in san francisco calefornia, on february'
p = re.search('.*.*',s)
if p:
    print('found:-',p.group())
else:
    print('not found:-')

found:- steve paul jobs was born in san francisco calefornia, on february

In [23]:
import re
s = 'steve paul jobs was born in san francisco calefornia, on february'

p = re.search('.*sagar.*',s)
if p:
    print('found:-')
else:
    print('not found:-')

not found:-

In [24]:
import re
s = 'steve paul jobs was born in san francisco calefornia, on february'

p = re.search('(.*)in(.*)',s)
if p:
    print('found:-',p.group())
    print('Group1:-',p.group(1))
    print('Group2:-',p.group(2))
else:
    print('Not found...')

found:- steve paul jobs was born in san francisco calefornia, on february
Group1:- steve paul jobs was born
Group2:-  san francisco calefornia, on february

In [25]:
import re
s = 'steve paul jobs was born in san francisco calefornia, on february'
p = re.search('(.*)in(.*)',s)
if p:
    print('Found:-',p.group())
    print('Group1:-',p.group(1))
    print('Group1:-',p.group(1).upper())
    print('Group2:-',p.group(2))
    print('Group2:-',p.group(2).upper())
else:
    print('Not found..')

Found:- steve paul jobs was born in san francisco calefornia, on february
Group1:- steve paul jobs was born
Group1:- STEVE PAUL JOBS WAS BORN
Group2:-  san francisco calefornia, on february
Group2:-  SAN FRANCISCO CALEFORNIA, ON FEBRUARY

In [1]:
import re
s = 'steve paul jobs was born in san francisco calefornia, on february'
p = re.match('steve.*',s)
if p:
    print('match:-',p.group())
else:
    print('not match...')

match:- steve paul jobs was born in san francisco calefornia, on february

In [4]:
import re
s = 'steve paul jobs was born in san francisco calefornia , on february'
p = re.match('sagar.*',s)
if p:
    print('match:-',p.group())
else:
    print('not found...')

not found...