In [1]:
a = [1,2,3,4]
b = ['apple','banana','grapes','mango']
for i in a:
    for j in b:
        print(i,j)

1 apple
1 banana
1 grapes
1 mango
2 apple
2 banana
2 grapes
2 mango
3 apple
3 banana
3 grapes
3 mango
4 apple
4 banana
4 grapes
4 mango

In [1]:
a = [1,2,3,4,5,6]
b = ['Apple','Banana','grapes','mangoes','orenges']
for i in a:
    for j in b:
        print(i,j)

1 Apple
1 Banana
1 grapes
1 mangoes
1 orenges
2 Apple
2 Banana
2 grapes
2 mangoes
2 orenges
3 Apple
3 Banana
3 grapes
3 mangoes
3 orenges
4 Apple
4 Banana
4 grapes
4 mangoes
4 orenges
5 Apple
5 Banana
5 grapes
5 mangoes
5 orenges
6 Apple
6 Banana
6 grapes
6 mangoes
6 orenges

# dictionary

In [2]:
#dictinary contain key-value pair
#key-value pair called item

a = {'apple':2,'banana':4,'mango':6,'oranges':7}
print(a['banana'])
print(a['oranges'])
print(a)

4
7
{'apple': 2, 'banana': 4, 'mango': 6, 'oranges': 7}

In [3]:
#print keys only
a = {'apple':2,'banana':4,'mango':6,'oranges':7}
for i in a:
    print(i)

apple
banana
mango
oranges

# Importing libraries

In [7]:
import math
print(math.sin(2))

0.9092974268256817

In [9]:
import math
print(math.cos(1))

0.5403023058681397

In [10]:
import math
print(math.tan(2))

-2.185039863261519

In [1]:
import math
print(math.sqrt(25))

5.0

In [11]:
#print time using datetime library

In [3]:
import datetime

t = datetime.time(11,25,8)
print('Hour:-',t.hour)
print('Minute:-',t.minute)
print('second:-',t.second)

Hour:- 11
Minute:- 25
second:- 8

In [17]:
#print date

import datetime

t = datetime.date(2020,7,21)
print('Year:-',t.year)
print('Month:-',t.month)
print('Day:-',t.day)

Year:- 2020
Month:- 7
Day:- 21

In [2]:
#print current time

import datetime
t = datetime.datetime.now()
print('Hour:-',t.hour)
print('Minute:-',t.minute)
print('Seconds:-',t.second)

Hour:- 13
Minute:- 34
Seconds:- 30

In [1]:
#print current date

import datetime
t = datetime.datetime.now()
print('Year:-',t.year)
print('Month:-',t.month)
print('Day:-',t.day)

Year:- 2023
Month:- 12
Day:- 12